body {
    background-color: #EEF9BF;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 40px auto;
    line-height: 66px;
}
.tabuleiro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
   
}
.cartaLayout {
    width: 117px;
    height: 146px;
    margin: 17px;
    perspective: 1000px;
    transition: transform 0.2s;
}
.cartaConteudo {
    position: relative;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 5px grey;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.cartaLayout:hover {
    transform: scale(1.1) ;
}
.frente, .verso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.verso {
    transform: rotateY(180deg);
}
.frente img, .verso img {
    padding: 24px 7px 22px 10px;
}
.virado {
    transform: rotateY(180deg);
}
.removido {
    background-color: peachpuff;
}

@media (max-width: 480px) {
    header {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 5px;
        padding-top: 25px;
    }
    
}